In [4]:
import pandas as pd
import os

cwd = os.getcwd()
fname = cwd + "/data/train.csv"

data = pd.read_csv(fname)

In [5]:
len(data)

891

In [6]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [7]:
data.count()

PassengerId    891
Survived       891
Pclass         891
Name           891
Sex            891
Age            714
SibSp          891
Parch          891
Ticket         891
Fare           891
Cabin          204
Embarked       889
dtype: int64

In [8]:
data['Age'].min(), data['Age'].max()

(0.42, 80.0)

In [9]:
data['Survived'].value_counts()

0    549
1    342
Name: Survived, dtype: int64

In [12]:
data['Sex'].value_counts()

male      577
female    314
Name: Sex, dtype: int64

In [13]:
data['Pclass'].value_counts()

3    491
1    216
2    184
Name: Pclass, dtype: int64

In [ ]:
%matplotlib inline

alpha_color=0.5

data['Surived'].value_counts().plot(kind='bar')